body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #005daa;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
    text-align: center;
}

.alert {
    background-color: #ffcc00;
    color: #333;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    font-size: 1.2em;
}

footer {
    background-color: #005daa;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
